body {
  margin: 0;
  font-family: "Fira Code", sans-serif;
  color: white;
  background: #1e252e;
}

section {
  position: relative;
  display: 100%;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  padding: 100px 20vw;
}

.blurple {
  background: #5865f2;
}

.grey {
  background: #2c2f33;
}

.orange {
  color: #ff9d00;
}

.pink {
  color: #fb94ff;
}

.yellow {
  color: #ffc600;
}

.comment {
  color: #a2a5c4;
}

.unused {
  color: #cacbd6;
}

/* par is short for parentheses */
.par1 {
  color: #e2d625;
}

.par2 {
  color: #d54ce7;
}

.link-black {
  color: #5865f2;
  text-decoration: none;
}

.link-black:hover {
  color: #a2a5c4;
  text-shadow: 0 0 5px #5865f2;
  transition: all 0.2s ease-in-out;
}

.link-blue {
  color: #2c2f33;
  text-decoration: none;
}

.link-blue:hover {
  text-shadow: 0 0 10px #110e0e;
  color: white;
  transition: all 0.3s ease-in-out;
}

.spacer {
  aspect-ratio: 950/290;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave1 {
  background-image: url("images/transition.svg");
}

.unordered-list {
  list-style: disc;
  padding: 0;
  margin: 0;
}

.indent {
  margin-left: 1.5em;
}

::-webkit-scrollbar {
  width: 5px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

.window {
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  background: #353a3f;
  border-radius: 10px;
  box-shadow: 0 0 10px #2c2f33;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.window pre {
  background: #353a3f;
  font-family: "Fira Code", sans-serif;
  font-size: 1.1em;
  padding: 20px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.window-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #2c2f33;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px #2c2f33;
}

.inline-image {
  position: relative;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: #2c2f33;
  border-radius: 50%;
  box-shadow: 0 0 10px #2c2f33;
  right: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #aca8a8;
  border-radius: 10px;
}
